@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* no scrolling on x-axis */
    overflow-x: hidden;
}

/* all ul under all navigation bar */
nav ul{
    display: flex;
    /* list-style: none; */
    align-items: center; /* center between line*/
    justify-content: center;
}

nav ul li{
    /* this is more appropriate way to style list */
    list-style: none;
    /* have space between li */
    margin: 10px 20px;
}

nav li:first-child img{
    height: 80px;
}

nav li:first-child{
    margin-right: auto;
    margin-left: 100px;
}

nav li:last-child{
    margin-left: auto;
    margin-right: 100px;
}

nav li button{
    background-color:#e8e854;
    padding: 10px 30px;
    border: 0px;
    border-radius: 15px;
    color: rgb(75, 72, 72);
    /* -webkit-text-stroke: 0.1px rgb(103, 103, 103); */
    font-weight: 5px;
    font-size: large;
}

/* End of nav bar */

/* p{
    font-size: 40px;
    margin-left: 70px;
    line-height: 1;
}

.box{
    margin-top: 90px;
}
.box img{
    margin-left: 400px;
    width: 400px;
    border-radius: 25px;
} */

section{
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

section p{
    margin-left: 100px;
    font-size: 45px;
}

section .one{
    width: 75vh;
    border-radius: 25px;
    margin-left: auto;
    transform: translate(30%,-20%);
    margin-top: 30px;
}

section .two{
    width: 75vh;
    border-radius: 25px;
    margin-right: auto;
    transform: translate(-25%,-45%);
}

main{
    display: grid;
    grid-template-columns: 65% 35%;
    margin-left: 30px;
}

main img{
    height: 400px;
    margin-left: 15px;
}

main .left{
    display: grid;
    grid-template-rows: 40% 20% 20% 20%;
    /* width: 80%; */
}

.option{
    display: grid;
    grid-template-columns: 20% 80%;
}

.option img{
    height: 60px;
}

.third-box h1{
    margin-left: 30px;
    margin-top: 50px;
}

.third-box-grid{
    display: grid;
    grid-template-columns: 50% 50%;
}

.third-box-grid-item{
    display: grid;
    grid-template-columns: 50% 50%;
}

.third-box-grid-item p{
    margin-bottom: 1em;
}

.third-box-item-list{
    display: flex;
    margin: auto;
    align-items:center;
}

.forth-box-grid{
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 50px;
    
}

.forth-box{
    margin: 50px;
}

.forth-box-grid{
    display: grid;
    grid-template-columns: 30% 70%;
}

.forth-box-grid p{
    margin-left: 80;
}

.forth-box-grid img{
    border-radius: 15px;
}

.forth-item-right{
    margin-left: 50px;
    margin-right: 150px;
}